
@{
    ViewData["Title"] = "UserPlanner";
}

<h1>UserPlanner</h1>

@model IEnumerable<UserPlanner>

<table class="table table-active table-bordered table-striped table-warning" style="color:azure">
    <tr>
        <th>Notes</th>
        <th>Add/Edit</th>
        <th>Weather</th>
        <th>Restaurants</th>
        <th>Dates</th>
        <th>Events</th>
        <th>To Remove Line Click Link</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Notes
            </td>
            <td>
                @Html.ActionLink("Edit Notes", "EditNote", "FinalProjectDb", item)
            </td>
            <td>@item.Weather</td>
            <td>@item.Restaurants</td>
            <td>@item.Dates</td>
            <td>@item.Events</td>
            <td>@Html.ActionLink("Remove from List", "RemovePlanner", "FinalProjectDb", item)</td>
        </tr>
    }
</table>
