
@{
    ViewData["Title"] = "WeatherView";
}
@model Finalproject.Models.DarkSky



    <h3>Based on your destination and date, Forecast4Food gives this day a score of <span>@ViewBag.rating</span>% for good weather</h3>


    <table class="table-dark table-bordered table-warning" style="color:azure">
        <tr>
            <th></th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Wind Speed</th>
            <th>Precipitation Probability</th>
            <th>Summary</th>
        </tr>
        <tr>
            <td>Weather for date selected</td>
            <td> @Model.currently.temperature</td>
            <td> @Model.currently.humidity</td>
            <td> @Model.currently.windSpeed</td>
            <td> @Model.currently.precipProbability</td>
            <td> @Model.currently.summary</td>
        </tr>
        <tr>
            <td>One Year Before</td>
            <td>@ViewBag.oneYearTemp</td>
            <td>@ViewBag.oneYearHumid</td>
            <td>@ViewBag.oneYearWind</td>
            <td>@ViewBag.oneYearPrecip</td>
            <td>@ViewBag.oneYearSumm</td>
        </tr>
        <tr>
            <td>Five Year Before</td>
            <td>@ViewBag.fiveYearTemp</td>
            <td>@ViewBag.fiveYearHumid</td>
            <td>@ViewBag.fiveYearWind</td>
            <td>@ViewBag.fiveYearPrecip</td>
            <td>@ViewBag.fiveYearSumm</td>
        </tr>
    </table>


@if (Model.currently.temperature >= 80 && Model.currently.summary.ToLower().Contains("clear"))
{
    <h3>
        It looks like its gonna be hot and clear on this day. Would you like to see a list
        of nearby restaurants we recommend?
    </h3>
  
    <p> @Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p> @Html.ActionLink("Take me back to location search.", "Index", "Home")</p>
   
   


}
else if (Model.currently.temperature >= 80 && Model.currently.summary.ToLower().Contains("rain"))
{
    <h3>
        It looks like its gonna be hot and rainy on this day. Would you like to see a list
        of nearby restaurants we recommend?
    </h3>
    <p>@Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p>@Html.ActionLink("Take me back to location search.", "Index", "Home")</p>
    
}
else if (Model.currently.temperature < 80 && Model.currently.temperature >= 60 && Model.currently.summary.ToLower().Contains("rain"))
{
    <h3>
        It looks like its gonna be warm and rainy on this day. Would you like to see a list
        of nearby restaurants we recommend?
    </h3>
    <p>@Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p>@Html.ActionLink("Take me back to location search.", "Index", "Home")</p>
    
    
}
else if (Model.currently.temperature < 80 && Model.currently.temperature >= 60 && Model.currently.summary.ToLower().Contains("clear"))
{
    <h3>
        It looks like its gonna be clear and warm on this day. Would you like to see a list
        of nearby restaurants we recommend?
    </h3>

    <p>@Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p>@Html.ActionLink("Take me back to location search.", "Index", "Home")</p>
    
    
}
else if (Model.currently.temperature < 60 && Model.currently.temperature > 32 && Model.currently.summary.ToLower().Contains("rain"))
{
    <h3>
        It looks like its gonna be pretty chilly and rainy on this day. Would you like to see a list
        of nearby restaurants we recommend?
    </h3>

    <p>@Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p>@Html.ActionLink("Take me back to location search.", "Index", "Home")</p>
    
    
}
else if (Model.currently.temperature < 60 && Model.currently.temperature > 32 && Model.currently.summary.ToLower().Contains("clear"))
{
    <h3>
        It looks like its gonna be pretty chilly clear on this day. Would you like to see a list
        of nearby restaurants we recommend?
    </h3>

    <p>@Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p>@Html.ActionLink("Take me back to location search.", "Index", "Home")</p>
    
    
}
else if (Model.currently.temperature < 32)
{
    <h3>
        It looks like its gonna be freezing on this day! Would you like to see a list
        of nearby restaurants we recommend?
    </h3>

    <p>@Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p>@Html.ActionLink("Take me back to location search.", "Index", "Home")</p>
    
    
}
else
{
    <h3>
        Would you like to see a list of nearby restaurants?
    </h3>
    <p>@Html.ActionLink("Let me see them!", "RestaurantSearch", "XYZ", Model.currently)</p>
    <p>@Html.ActionLink("Take me back to location search.", "Index", "Homess")</p>
    
    
}

<style>
    p a {
        color: ghostwhite;
        text-shadow: 2px 2px #000000;
        font-size: 18px;
    }

    table{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }

    div{
        text-align:center;
    }

    span{
        color:greenyellow;
    }

    h3{
        padding-bottom:10px;
    }
   
</style>