
@{
    ViewData["Title"] = "WeatherView";
}
@model Finalproject.Models.DarkSky


<h1>WeatherView</h1>
<div class="table">
    <table>
        <tr>
            <td>

                @Model.currently.temperature
                @Model.currently.humidity
                @Model.currently.windSpeed
                @Model.currently.precipProbability
                @Model.currently.summary


            </td>
        </tr>
    </table>
</div>
@{
    if (Model.currently.temperature >= 80 && Model.currently.summary.Contains("clear"))
    {
        <h3>
            It looks like its gonna be hot and clear day on this day. Would you like to see a list
            of nearby restaurants we recommend?
        </h3>
        @Html.ActionLink("Yes, let me see them!", "RestaurantSearch", "XYZ")
        @Html.ActionLink("No, take me back to location search.", "Map", "FinalProjectDb")


    }
    else if (Model.currently.temperature >= 80 && Model.currently.summary.Contains("rain"))
    {
        <h3>
            It looks like its gonna be hot and rainy on this day. Would you like to see a list
            of nearby restaurants we recommend?
        </h3>
        @Html.ActionLink("Yes, let me see them!", "RestaurantSearch", "XYZ")
        @Html.ActionLink("No, take me back to location search.", "Map", "FinalProjectDb")
    }
    else if (Model.currently.temperature < 80 && Model.currently.temperature >= 60 && Model.currently.summary.Contains("rain"))
    {
        <h3>
            It looks like its gonna be warm and rainy on this day. Would you like to see a list
            of nearby restaurants we recommend?
        </h3>
        @Html.ActionLink("Yes, let me see them!", "RestaurantSearch", "XYZ")
        @Html.ActionLink("No, take me back to location search.", "Map", "FinalProjectDb")
    }
    else if (Model.currently.temperature < 80 && Model.currently.temperature >= 60 && Model.currently.summary.Contains("clear"))
    {
        <h3>
            It looks like its gonna be clear and warm on this day. Would you like to see a list
            of nearby restaurants we recommend?
        </h3>
        @Html.ActionLink("Yes, let me see them!", "RestaurantSearch", "XYZ")
        @Html.ActionLink("No, take me back to location search.", "Map", "FinalProjectDb")
    }
    else if (Model.currently.temperature < 60 && Model.currently.temperature > 32 && Model.currently.summary.Contains("rain"))
    {
        <h3>
            It looks like its gonna be pretty chilly and rainy on this day. Would you like to see a list
            of nearby restaurants we recommend?
        </h3>
        @Html.ActionLink("Yes, let me see them!", "RestaurantSearch", "XYZ")
        @Html.ActionLink("No, take me back to location search.", "Map", "FinalProjectDb")
    }
    else if (Model.currently.temperature < 60 && Model.currently.temperature > 32 && Model.currently.summary.Contains("clear"))
    {
        <h3>
            It looks like its gonna be pretty chilly clear on this day. Would you like to see a list
            of nearby restaurants we recommend?
        </h3>
        @Html.ActionLink("Yes, let me see them!", "RestaurantSearch", "XYZ")
        @Html.ActionLink("No, take me back to location search.", "Map", "FinalProjectDb")
    }
    else if (Model.currently.temperature < 32)
    {
        <h3>
            It looks like its gonna be freezing today! Would you like to see a list
            of nearby restaurants we recommend?
        </h3>
        @Html.ActionLink("Yes, let me see them!", "RestaurantSearch", "XYZ")
        @Html.ActionLink("No, take me back to location search.", "Map", "FinalProjectDb")
    }
}